<form method="post" action="{{ path('admin_author_delete', {'id': author.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ author.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
