            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
                <a href="{{ path('logout')}}" class="btn btn-primary float-end"> Log Out</a>
            </header>
